body {
  width: 100%;
  font-size: 12px;
  font-family: 'Dosis', "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", cursive;
  letter-spacing: 1px;
  margin: 0;
}

a {
  line-height: 1;
  color: #231815;
  cursor: pointer;
  text-decoration: none;
} 

header {
  display: flex;
  justify-content:center;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 80;
}

.drawer-hidden {
  display: none;
}



/* #img-logo { 
  position: absolute;
  top: 10px;
  left: 10px;
}

#img-logo img {
width: 13%;
height: auto;
}*/

#nav-pc {
margin-top: 30px;
}

#nav-pc a {
  color: #aaaaaa;
  display: inline;
  margin-right: 10px;
}


#main-visual {
  width: 100%;
  height: 50vh;
  text-align: center;
  font-size: 26px;
  letter-spacing: 3px;
  position: relative;
}

#main-visual h1 {
  text-align: center;
  font-size: 30px;
  letter-spacing: 3px;
  transform: translate(-50%,-50%);
  position: absolute;
  left: 50%;
  top: 50%;
}

#main-visual h1 img {
  width: 30%;
}

/* 作品 */

#works {
  padding: 50px;
  background-color: #f9f9f9;
  display: flex;
  justify-content:center;
}
.works {
  margin-right: 30px;
}

/* コンセプト */

#concept {
  padding: 50px;
  display: flex;
  justify-content:center;
}

/* プロフィール */

#profile {
  padding: 50px;
  background-color: #f9f9f9;
  display: flex;
  text-align: center;
  justify-content:center;
}

#photo {
margin-bottom: 20px;
}

/* フッター */

#footer {
  background-color: #f9f9f9;
  text-align: center;
  padding-bottom: 50px;
  color: #aaaaaa;
}

#footer ul {
  margin: 0;
  display: flex;
  justify-content:center;
}


#footer .sns-navi li {
  list-style: none;
}

.sns-img {
  width: 40px;
  margin-right: 30px;
  margin-bottom: 10px;
}

/* PC用CSS */

@media screen and (min-width:768px) {

  .drawer-content {
    display: none;
  }
}

/* SP用CSS */

@media screen and (max-width:768px) {

#nav-pc {
  display: none;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  background: #fff;
}

/* チェックボックスは非表示に */
.drawer-hidden {
  display: none;
}

/* ハンバーガーアイコンの設置スペース */
.drawer-open {
  position: fixed;
  top: 10px;
  right: 10px;
  display: flex;
  height: 60px;
  width: 60px;
  justify-content: center;
  align-items: center;
  z-index: 98;/* 重なり順を一番下に */
  cursor: pointer;
}

/* ハンバーガーメニューのアイコン */
.drawer-open span,
.drawer-open span:before,
.drawer-open span:after {
  content: '';
  display: block;
  height: 3px;
  width: 25px;
  border-radius: 2px;
  background: #aaaaaa;
  transition: 0.5s;
  position: absolute;
}

/* 三本線のうち一番上の棒の位置調整 */
.drawer-open span:before {
  bottom: 8px;
}

/* 三本線のうち一番下の棒の位置調整 */
.drawer-open span:after {
  top: 8px;
}

  
/* メニューのデザイン*/
.drawer-content {
  font-size: 20px;
  width: 100%;/* ここの割合を小さくすると閉じる部分の領域が広がる */
  height: 100%;
  position: fixed;
  top: 0;
  left: 100%;/* メニューを画面外へ */
  z-index: 100;/* 重なり順を一番上に */
  background: #ffffff;
  transition: .5s;
}

.drawer-content ul li {
list-style-type: none;
margin-top: 30px;
}

.drawer-content ul li a {
  color: #aaaaaa;
  }

/* アイコンがクリックされたらメニューを表示 */
#drawer-check:checked ~ .drawer-content {
  left: 0;/* メニューを画面内へ */
}

/* メニューを閉じるための要素のデザイン*/
.drawer-close {
  width: 100%;
  height: 100%;
  background: #aaaaaa;
  position: fixed;
  top: 0;
  left: 100%;/* 閉じるための要素を画面外へ */
  z-index: 90;/* 重なり順をメニューより下に*/
  transition: .5s;
}

#drawer-check:checked ~ .drawer-close {
  left: 0;/* 閉じるための要素を画面内へ */
}


/* ロゴ */

  #main-visual h1 img {
    width: 45%;
  }

  /* 作品 */

  #works {
    display: block;
    justify-content:center;
  }

  .works {
    margin-bottom: 30px;
  }

}
