html { box-sizing: border-box; } *, *:before, *:after { box-sizing: inherit; }

body {
  width: 100%;
  font-size: 12px;
  font-family: 'Dosis', "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", cursive;
  letter-spacing: 1px;
  margin: 0;
}

a {
  line-height: 1;
  color: #231815;
  cursor: pointer;
  text-decoration: none;
} 

header {
  text-align: center;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 80;
}

.drawer-hidden {
  display: none;
}

/* #img-logo { 
  position: absolute;
  top: 10px;
  left: 10px;
}

#img-logo img {
width: 13%;
height: auto;
}*/

#nav-pc {
margin-top: 30px;
}

#nav-pc a {
  color: #aaaaaa;
  display: inline;
  margin-right: 10px;
}


#main-visual {
  width: 100%;
  height: 50vh;
  text-align: center;
  position:relative
}

#main-visual h1 img {
  position: absolute;
  top: 50%;
  margin-left: -60px;
  -webkit-transform : translateY(-50%);
  transform : translateY(-50%);
  width: 110px;
}

/* 作品 */

#works {
  width: 100%;
  background-color: #f9f9f9;
  padding: 50px;
  height: auto;
  display: flex;
  justify-content: center;
}

.works-item {
  width: auto;
}

.sample > img { 
  display: inline-block;
  width: 250px;
  margin: 5px;
}

.works-item {
  opacity: 0;
  visibility: hidden;
  transform: translateY(50px);
  transition: opacity 1s,visibility 1s, transform 1s;
}

.works-item.load {
  opacity: 1;
  visibility: visible;
  transform: translateY(0px);
}

/* コンセプト */

#concept {
  width: 100%;
  height: auto;
  padding: 50px;
  display: flex;
  justify-content:center;
}

.text {
  width: 980px;
}

/* プロフィール */

#profile {
  padding: 50px;
  width: 100%;
  background-color: #f9f9f9;
  text-align: center;
}

#photo {
margin-bottom: 30px;
width: 100px;
}


/* フッター */

#footer {
  background-color: #f9f9f9;
  padding-bottom: 50px;

}

#footer-item {
  text-align: center;
  color: #aaaaaa;
}

#footer ul {
  margin: -20px 0 0 -40px;
}


#footer .sns-navi li {
  list-style: none;
  display: inline-block;
}

.sns-img {
  width: 40px;
  margin: 10px;
}


/* PC用CSS */

@media screen and (min-width:768px) {

  .drawer-content {
    display: none;
  }
}

/* SP用CSS */

@media screen and (max-width:768px) {

#nav-pc {
  display: none;
}

/* チェックボックスは非表示に */
.drawer-hidden {
  display: none;
}

/* ハンバーガーアイコンの設置スペース */
.drawer-open {
  position: fixed;
  top: 30px;
  right: 0;
  height: 60px;
  width: 60px;
  z-index: 100;/* 重なり順を一番上に */
  cursor: pointer;
}

/* ハンバーガーメニューのアイコン */
.drawer-open span,
.drawer-open span:before,
.drawer-open span:after {
  content: '';
  display: block;
  height: 2px;
  width: 25px;
  border-radius: 2px;
  background: #aaaaaa;
  transition: 0.5s;
  position: absolute;
}

/* 三本線のうち一番上の棒の位置調整 */
.drawer-open span:before {
  bottom: 8px;
}

/* 三本線のうち一番下の棒の位置調整 */
.drawer-open span:after {
  top: 8px;
}

/* Xのになる */
#drawer-check:checked ~ .drawer-open span {
  background: rgba(255, 255, 255, 0);
}
#drawer-check:checked ~ .drawer-open span::before {
  bottom: 0;
  transform: rotate(45deg);
}
#drawer-check:checked ~ .drawer-open span::after {
  top: 0;
  transform: rotate(-45deg);
}
  
/* メニューのデザイン*/
.drawer-content {
  font-size: 20px;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 100%; /* メニューを画面外へ */
  z-index: 60;
  background: #ffffff;
  transition: .5s;
  text-align: center;
}

.drawer-content ul {
  padding-top: 50px;
  margin-left: -30px;
  }

.drawer-content ul li {
list-style-type: none;
margin-top: 30px;
}

.drawer-content ul li a {
  color: #aaaaaa;
  }

/* アイコンがクリックされたらメニューを表示 */
#drawer-check:checked ~ .drawer-content {
  left: 0;/* メニューを画面内へ */
}


/* ロゴ */

#main-visual h1 img {
  margin-left: -50px;
}

  /* 作品 */

  #works {
    display: block;
    display: flex;
    justify-content:center;
  }

  .works {
    margin-bottom: 30px;
  }

  .sample img {
    width: 100%;
  }



}
  
